<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>SUJET DU MAIL ICI</title>
		<meta name="author" content="envoyeur@exemple.fr Nom de l'envoyeur ici" />
	</head>
	<body>
		<p>[[BONJOUR]]&nbsp;[[PRENOM]],</p>
		<br />
		<p>Votre baratin ici.</p>
		<br /><br />
		<p>A tout de suite,</p>
		<p>La Direction.</p>
		<br /><br />
		<table id="mailjet_rem" border="0" width="580" cellspacing="0" cellpadding="0"><tr><td>
		Pour vous désabonner, cliquez sur ce lien :<br />
		<a href="[[UNSUB_LINK_FR]]">[[UNSUB_LINK_FR]]</a><br /><br />
		</td></tr></table>
	</body>
</html>